<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CAS.Lib.RTLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CAS.Lib.RTLib.Properties.Settings>
      <setting name="TraceName" serializeAs="String">
        <value>CAS.RealTime</value>
      </setting>
    </CAS.Lib.RTLib.Properties.Settings>
  </applicationSettings>
  <!--ms-help://MS.VSCC.v80/MS.MSDN.v80/MS.VisualStudio.v80.en/dv_fxdebug/html/f88dda6f-5fda-45be-9b3c-745a9b708c4d.htm-->
  <!-- ms-help://MS.VSCC.v80/MS.MSDN.v80/MS.NETDEVFX.v20.en/dv_fxgenref/html/3f348f42-fa72-4ff2-aa1c-bb9eecad4bb2.htm -->
  <system.diagnostics>
    <sources>
      <source name="CAS.Lib.RTLib" switchName="CAS.Lib.CommServer" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="DebugOutput"/>
          <add name="LogFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!--ms-help://MS.VSCC.v80/MS.MSDN.v80/MS.NETDEVFX.v20.en/cpref6/html/T_System_Diagnostics_SourceLevels.htm-->
      <!-- SourceLevels Enumeration -->
      <add name="CAS.Lib.CommServer" value="Error"/>
      <!-- value:  Required String attribute. Sets the verbosity of the output. 
                  Legitimate values are Critical, Error, Verbose, Warning, and Information.
      -->
      <!-- maxdatasize:  Optional Int32 attribute. Sets the maximum number of bytes of network data included in each line trace. 
                         The default value is 1024.
      -->
      <!-- tracemode Optional String attribute. Set to includehex to show protocol traces in hexadecimal and text format. 
      Set to protocolonly to show only text. The default value is includehex.
      -->
    </switches>
    <sharedListeners>
      <add name="DebugOutput" type="System.Diagnostics.ConsoleTraceListener" initializeData="true">
        <!-- Allows all events through. -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
        <!-- Allows the Stop, Start, Suspend, Transfer, and Resume events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="ActivityTracing" /> -->
        <!-- Allows only Critical events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical" /> -->
        <!-- Allows Critical and Error events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" /> -->
        <!-- Allows Critical, Error, Warning, and Information events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" /> -->
        <!-- Does not allow any events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Off" /> -->
        <!-- Allows Critical, Error, Warning, Information, and Verbose events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" /> -->
        <!-- Allows Critical, Error, and Warning events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" /> -->
      </add>
      <add name="LogFile" type="System.Diagnostics.DelimitedListTraceListener" initializeData="log\Net_to_Serial.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
