<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="CAS.RealTimeUnitTests.TraceSource" switchName="CAS.RealTimeUnitTests.Switch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="CAS.RealTimeUnitTests.Switch" value="All" />
    </switches>
    <sharedListeners>
      <add name="LogFile" type="CAS.Lib.RTLib.Diagnostics.AdvancedDelimitedListTraceListener, CAS.RTLibComm" initializeData="|ApplicationDataPath|\log\CAS.OPC.UA.ASMD.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
